    <div class="row" id="footer">
        <div class="span12">
            <hr/>
            &copy; Kevin Noone 2012 &nbsp;-=//\\//=-&nbsp; version 1.3.0-<%=render :partial => 'layouts/revision'%>
            <br/><br/>
        </div>
    </div>    
  </body>
</html>